@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
.default {
    font-family: "Noto Sans", sans-serif;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 0.5em;
    /* width: 40%; */
}


/* .default:hover {
    color: red;
} */